/* Kill all default browser margins and paddings */
html, body, #root {
  margin: 0 !important;
  padding: 0 !important;
  /* 🔥 This is the magic for iOS */
  min-height: -webkit-fill-available;
box-sizing: border-box;
  background-color: #000;
}

/* Prevent accidental scrolling on mobile */


* {
  box-sizing: border-box;
}