* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html, body, #root {
  margin: 0 !important;
  padding: 0 !important;
  width: 100vw;
  height: 100dvh;
  /* Use fixed to prevent the 'pull-to-refresh' bounce on iOS */
  position: fixed; 
  overflow: hidden;
  background-color: #000;
}